<h2>List Items</h2>

{{log}}
  <!--div list-items-->
<table border="1">

  <tr>
    <th>Provider</th>
    <th>UID</th>
    <th>Item ID</th>
    <th>Item Name</th>
    <th>Location ID</th>
    <th>Location Name</th>
    <th>Type ID</th>
    <th>Value</th>
    <th></th>
    <!--th>New</th>
    <th>Set</th-->

  </tr>
  <tr *ngFor="let item of items">
    <td>{{item.provider}}</td>
    <td>{{item.uid}}</td>
    <td>{{item.itemID}}</td>
    <td>{{item.itemName}}</td>
    <td>{{item.locationID}}</td>
    <td>{{item.locationName}}</td>
    <td>{{item.typeID}}</td>
    <td>{{item.value}}</td>
    <td>

      <label *ngIf="item.typeID == 1" [class.selected]="cb.checked">
        <input #cb type="checkbox" [(ngModel)]="item.value" (change)="setOnOff(item.uid,cb)">
      </label>

      <label *ngIf="item.typeID == 2" [class.selected]="txt.value">
        <input #txt type="text" [(ngModel)]="item.value" (input)="setValue(item.uid,txt)" size="1">
      </label>
    </td>
    <!--td>
      <input #value type="text" size="3">
      <!--input #uid type="hidden" value="{{item.uid}}"-->
    <!--/td>
    <td>
      <button #comp list-items (click)="comp.setValue(item.uid, value.value)">Set</button>
    </td-->


  </tr>
</table>
<!--/div-->
<p *ngIf="errorMessage">{{errorMessage}}</p>
